#combitable{
    width: 100%;
    vertical-align: text-top;
}

#combitable #col1, #col2{
    width: 50%;
    vertical-align: text-top;
}

#radiodiv{
    position: fixed;
    top:0;
    left: 0;
}

#viewcontent{
    width:100%;
}
